<!-- <h1>Teste 03</h1> -->

    <!--Uso de interpolação em valores de atributos,
        integral ou parcialmente (junto a mais texto)
        <img src="{{imageUrl}}">
        <img src= "images/{{url}}">
        <p class="{{value}}">
        <p class="p.{{highlightClass}}"> -->

    <!-- <h2>{{propriedade}}</h2>

    <p>Olá meu nome é {{nome}}</p>

    <p class="{{imagem}}"></p>

    <p>A multiplicação de 3 * 4 é {{3 * 4}}</p> -->

    <h1>EX01</h1>
    <h2>Atividades da aula 03</h2>


    <p>Olá meu nome é {{nome}} e meu sobrenome é {{sobrenome}}</p>
    <hr>

    <h2>Ex02</h2>

    <p>{{carnaval}}</p>
