
<h1>{{title}}</h1>

<p class="mudae">{{apresenta}}</p>

<div class="gifpos">
    <!-- GIFs 01 -->
    <span><img src="https://media.giphy.com/media/HyOOyynWxMxig/giphy.gif" alt="gif"><br></span>

     <!-- GIFs 02 -->
     <img src="https://media.giphy.com/media/6rUFkGikou4GQ/giphy.gif" alt="gif"><br>

      <!-- GIFs 03 -->
    <img src="https://media.giphy.com/media/14kYBP3sOq3ubm/giphy.gif" alt="gif">

    <!-- {{imagem}} -->
</div>

    <!-- Links de sites da minha preferencia -->

    <div class="textal">
      <a href="https://github.com/Dan1e1rodrigues/Design-responsivo-para-web">Github mais noticias</a>
      <br>
      <a href="https://www.linkedin.com/in/daniel-rodrigues-de-aguiar/">Meu LikediIn</a>
    </div>
<p>Essa linha separa minhas aplicações</p>
<hr>


