<!-- Tenho que colocar o link do app... dentro do app.component para que ele 
funcione, então todo html que eu mexer no teste01 irá aparecer aqui -->

<!-- 01 - Angular I - Introdução e Conceitos Básicos -->
<app-teste01></app-teste01>

<!-- Componente 02 com Atividades da aula Angular II - Componentes -->
<app-teste02></app-teste02>

<!-- 03 - Angular III - Bindings de Via Única - Interpolação -->
<app-teste03></app-teste03>

<!-- Aui podemos até mesmo fazer calculos matematicos -->
<!-- <p>A soma de 1 + 1 é {{1 + 1}}</p> -->

<app-testeexercicio02></app-testeexercicio02>

<!-- Atividade 04 -->
<app-aula04></app-aula04>

<app-aula04ex01></app-aula04ex01>