.luffy{
    background-color: yellow;
    border:2px solid red;
    width: 200px;
}

.zoro{
    background-color: yellow;
    border:2px solid red;
    width: 200px;
}

.sanji{
    background-color: yellow;
    border:2px solid red;
    width: 200px;
}