.dofi{
    border:2px solid blue;
    text-align: center;
    background-color: palevioletred;
}

.god{
    border:2px solid green;
    text-align: center;
    background-color: olivedrab;
}

.luffy{
    border:2px solid red;
    text-align: center;
    background-color: yellow;
}